* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
}

.title {
  padding-top: 10px;
  padding-bottom: 8px;
  color: white;
  text-align: center;
  font-family: 'Reggae One', cursive;
  font-size: 48px;
}

.subtitle {
  padding-bottom: 10px;
  color: white;
  text-align: center;
  font-family: 'Reggae One', cursive;
  font-size: 20px;
}

.memo-game {
  height: 100%;
  /* display: flex; */
  background-color: rgb(0, 0, 0);
}

.button_play {
  display: block;
  margin: auto;
  margin-bottom: 1em;
  margin-top: 1em;
  padding: 0.1em;
  text-align: center;
  color: black;
  font-family: 'Reggae One', cursive;
  font-size: 1.6em;
  background-color: white;
}

.contener {
  padding: 0 15px;
  width: 650px;
  height: 650px;
  margin: auto;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.memo_card {
  width: calc(25% - 10px);
  height: calc(33.333% - 10px);
  margin: 5px;
  transform: scale(1);
  position: relative;
  transition: transform 0.06s;
  transform-style: preserve-3d;
}

.memo_card.flip {
  transform: rotateY(90deg);
}

.memo_card:active {
  transform: scale(0.97);
  transition: transform 0.06s;
}

.front-face,
.back-face {
  width: 100%;
  height: 100%;
  position: absolute;
}

.front-face {
  transform: rotateY(90deg);
}